{{> sidebar}}
    <hr>
    <div class="list">

      <h2 class="list_title">Articles <a href="/cntrl/articles/list/">( All )</a></h2>

      {{#listItems articles 'articles'}}{{/listItems}}

    </div>

    <hr>

    <div class="list">

      <h2 class="list_title">Pages <a href="/cntrl/pages/list/">( All )</a></h2>

      {{#listItems pages 'pages'}}{{/listItems}}

      </div>
    
    </div>

  </body>
</html>