{{> header}}

<div class="container page404">

  <div class="content">

        <h1>404 page</h1>

        <p>Страница не найдена. <strong><a href="/">Вернуться на главную</a></strong></p>

        <div class="smi24_block" data-smi-widget-id="47"></div>
        <script src="https://smi24.kz/js/widget.js?id=a2873a8319881d60202e" async=""></script> 

  </div>

</div>