<html>
  <head>
    <meta charset="utf-8" />
    <title>{{article.title}}</title>
    <link href="/css/main.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <header>
      <a href="#">world-news'</a>
      <a href="#">business</a>
      <a href="#">technology</a>
    </header>
    <main>